/* RESET --------------------------------------------*/
html{box-sizing: border-box;}

*{
  margin: 0;
  padding: 0;
}

*, *:before, *:after{
  box-sizing: inherit;
}


/* TYPOGRAPHY --------------------------------------*/
*{font-family: sans-serif;}

.main-main-title{
  font-weight: 700;
}

.header-button{
  font-weight: 100;
}

.header-nav-item{
  text-decoration: none;
}

.main-main-title{
  font-size: 1.5em;
}

.main-services-highlight{
  color: skyblue;
  font-size: 1.2em;
}

.footer-title{
  font-size: 2.5em;
}

.footer-copyright{
  font-weight: 100;
}

/* STRUCTURE ---------------------------------------*/
.pagewrap{
  border: .5em solid grey;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em 2em 6em 2em;
}

  .header-button{
    border: 4px solid grey;
    padding: .5em .5em .4em .5em;
  }

  .header-button:hover{
    background-color: lightblue;
    transform: rotate(90deg);
  }

  .header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .header-nav-item{
    padding-bottom: .2em;
  }

  .header-nav-item:hover{
    border-bottom: 2px solid skyblue;
  }

  .header-nav-item:not(:last-child){
    margin-right: 2em;
  }

  .header-nav-social{
    display: flex;
    flex-direction: row;
  }


  .header-nav-social:hover{
    background-color: lightblue;
  }


    .header-nav-social-menu{
      display: none;
    }

.main{
  display: flex;
  flex-direction: column;
}


  .main-title{
    padding: 0 8% 12% 8%;
  }

  .main-img{

    width: 100%;
    padding: 0 1.2em 4em 1.2em;
  }

  .main-item{
    padding: 0 8% 3em 8%;
  }

  .main-main-title{
    padding-bottom: 1em;

  }

  .main-about{

  }

    .main-services-highlight{
      padding-bottom: .7em;
    }



.footer{
}

.footer-wrap{
  margin-top: 2em;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
}

  .footer-title{
    padding: 50px 0 50px 0;
  }

  .footer-email-button{
    padding: 1em 2em 1em 2em;
    border: 1px solid lightblue;
    border-radius: 5%;
  }

  .footer-email-button:hover{
    background-color: lightblue;
    color: white;
  }

  .footer-copyright{
    border-top: 1px solid grey;
    text-align: center;
    padding: 3em;
  }



















/* MEDIA QUERIES -----------------------------------*/